body {
    margin: auto;
    width: 100%;
    background-color:#F8F8FF;
}
.card {
    padding: 20px;
    margin: auto; 
    float: none;
    margin-bottom: 5px;

}
.table {
    padding: 50px;
    margin: radius; 
    float: none;
    margin-bottom: 5px;
}